@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-btn-primary: #5c16c5;
  --color-btn-secondaty: #53535f61;
}

[data-theme="dark"] .root {
  --background: #0E0E10;
  --foreground: #ededed;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

[data-theme="light"] .root {
  --background: #ffffff;
  --foreground: #171717;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  max-width: 860px;
}

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  background-color: var(--background);
}

.player-container {
  position: relative;
}

/* Main container styles */
.main-container {
  flex-grow: 1;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
  max-width: 1320px;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: 14px;
}

.home-container {
  width: 65%;
}

.btn-primary {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  background-color: #5c16c5;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: #772ce8;
}

.user-profile-dropdown {
  width: auto;
  position: absolute;
  right: 0;
  background-color: #efeff1;
  padding: 10px;
}

@media (min-width: 1280px) {
  .main-container {
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
  }
}

/* Media query for large screens */
@media (min-width: 1024px) and (max-width: 1279px) {
  .main-container {
    width: auto;
    padding: 0 2rem;
    margin: 0 1rem;
  }
}

/* Media query for medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container {
    padding: 0 1.5rem;
    margin: 0 2rem;
    flex-direction: column;
  }

  .home-container {
    width: 100%;
  }
}

/* Media query for small screens */
@media (max-width: 767px) {
  .main-container {
    padding: 1rem;
    width: 100%;
    border-radius: 0;
    flex-direction: column;
  }

  .home-container {
    width: 100%;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scroll {
  overflow: auto;
}

.scroll::-webkit-scrollbar {
  width: 0px;
}